RewriteEngine On
RewriteBase /Wedigital_india/expertparamedical/

# Redirect to index.php for all non-file/folder requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
